@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #ffe4ec;
}
::-webkit-scrollbar-thumb {
  background: #f63d68;
  border-radius: 10px;
}